{% extends "./home/base.html" %}
 {% block content %}
<table id="sitetable" class="table table-striped">
  <h5>Upcoming maintenance</h5>
  <thead>
    <th>Equipment</th>
    <th>Maintenance Job</th>
    <th>Maintenance Date</th>
  </thead>
  <tbody>
    {% for details in upcoming_maintenance %}
    <tr>
      <td>{{ details.equipment }}</td>
      <td>{{ details.maintenancejob }}</td>
      <td>{{ details.nextdate }}</td>
      <td style="text-align:right"><a href="/maintenance/{{ details.id }}/execute/" class="btn btn-success active btn-sm" role="button"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a></td>

    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}
