{% extends "./home/base.html" %}
{% block content %}

<div class="input-group"> <span class="input-group-addon">Department</span>
    <input id="search" type="text" class="form-control" placeholder="Type here...">
</div>
<table id='texttable' class="table table-striped">
  <thead>
    <th>Dept Name</th>
    <th>Manager</th>
    <th>Sites</th>
  </thead>
  <tbody>
    {% for dept in department_list %}
      <tr class="searchable">
        <td><a href="/departments/{{ dept.id }}">{{ dept.name }}</a></td>
        <td>{{ dept.manager }}</td>
        <td>
          <ul>
          {% for site in dept.sites.all %}
            <li>{{ site.name }}</li>
          {% endfor %}
        </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<a href="/departments/create/" class="btn btn-primary active" role="button">Create</a>

{% endblock %}
